<div class="height container mt-4">
    <h2 class="section-title">Events</h2>
    {{#if message_success}}
        <p class="success-message">{{message_success}}</p>
    {{/if}}
    {{#if message_failure}}
        <p class="error-message">{{message_failure}}</p>
    {{/if}} 
    <div class="events-options row">
        {{#if events}}
            {{#each events}}
                <div class="col-lg-4 col-md-6 col-sm-12 event-card mb-4">
                    <div class="card">
                        <img src="/{{image_url}}" class="card-img-top" alt="{{title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <div class="event-details">
                                <p>Date: {{event_date}}</p>
                                <p>Time: {{event_time}}</p>
                                <p>Duration: {{event_duration}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}} 
    </div>
</div>

<script>
    // Get all camping option elements
    var campingOptions = document.querySelectorAll('.card');

    // Function to calculate and set equal height for all camping options
    function setEqualHeight() {
        var maxHeight = 0;
        // Loop through all camping options to find the maximum height
        campingOptions.forEach(function(option) {
            var optionHeight = option.clientHeight;
            if (optionHeight > maxHeight) {
                maxHeight = optionHeight;
            }
        });
        // Set the maximum height to all camping options
        campingOptions.forEach(function(option) {
            option.style.height = maxHeight + 'px';
        });
    }

    // Call the function initially and on window resize
    setEqualHeight();
    window.addEventListener('resize', setEqualHeight);
</script>